* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  color: black;
  background-color: transparent;
}

body {
  background-color: white;
}

.TaskHeader {
  font-size: 48px;
  padding: 0.5em;
  background-color: darkgray;
}

.TaskHeader-title {
  font-size: inherit;
  text-align: center;
  text-transform: uppercase;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  margin: 10px;
}